.hover:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hoverNotUnderline:hover {
  cursor: pointer;
}

.kort {
  background-color: #ededed;
}

@media (min-width: 960px) {
}
@media (min-width: 1280px) {
}
